
.main {

padding:0 10px;
display: flex;
flex-direction: column;
text-align:justify;
gap: 20px;
height: 100%;
}

.section-sobre {
  display: flex;
  padding: 0 60px;
  gap: 50px;
}

.img-sobre{
    width: 500px;
}

@media screen and (max-width:1000px){

.section-sobre{display:flex; align-items:center; }

.img-sobre{width:400px;
    }
  
.principio p{font-size:25px;
font-weight:normal;
line-height: 1.6;  
letter-spacing: 0.3px}

}
